%table
  %thead
    %tr
      %th
        Title
      %th
        To
      %th
        created_at
      %th
        Actions
  - @mymails.each do |mail|
    %tr
      %td
        = mail.title
      %td
        = mail.to
      %td
        = mail.created_at
      %td
        %a{:href => "/#{mail.id}"} Show
        &nbsp; | &nbsp;
        %a{:href => "/#{mail.id}/delete"} Delete
